<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta content="en-au" http-equiv="Content-Language" />
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<link href="/rss.xml" type="application/rss+xml" rel="alternate" title="Blog Feed" />
		<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Blog Feed" />

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="shortcut icon" href="/img/favicon.ico" />
	</head>
	<body>
		<div id="container">
			<div id="side">
				<div id="hometext"><a href="/" >sriv.github.com</a></div>
				<div class="section">
					<ul>
						<li><a href="/about.html">about</a></li>
						<li><a href="/rss.xml"><img src="/img/25.png" /> feed</a></li>
					</ul>
				</div>
			</div>
			<div id="content">
				{{content}}
			</div>

		</div>
		<a title="Web Analytics" href="http://getclicky.com/100552509"><img alt="Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
		<script type="text/javascript">
		var clicky_site_ids = clicky_site_ids || [];
		clicky_site_ids.push(100552509);
		(function() {
		  var s = document.createElement('script');
		  s.type = 'text/javascript';
		  s.async = true;
		  s.src = '//static.getclicky.com/js';
		  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
		})();
		</script>
		<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100552509ns.gif" /></p></noscript>		
	</body>
</html>